
.btn {
    cursor: pointer;
    font-family: 'Norican', cursive;
    font-size: 10%;
    display: inline-block;
    font-weight: 300;
    text-decoration: none;
    border-radius: 30px;
    color: #f8e9e0;
    background-color: #a13b1d;
    border: 3px solid #a34d32;
    width: 32px;
}

.btn:hover {
    background-color: #a34d32;
}
